
body {
    font-family: 'Roboto', sans-serif;
}

main {
    background-image: url(../img/bg-repeat.jpg);
    background-repeat: round;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.ficou-com-duvida {
    width: 300px;
    height: 111px;
    color: white;
}

.ficou-com-duvida h1 {
    font-size: 20px;
    padding-bottom: 20px;
}

.ficou-com-duvida p {
    font-size: 15px;
}


form {
    width: 340px;
    height: 450px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}


form .input-box{
    width: 298px;
    height: 35px;
    padding: 15px;
    font-size: 16px;
    background: white;
    border-radius: 8px;
    margin: 7px 0;
    border: 1px solid black;

}

form textarea {
    font-family: 'Roboto';
    width: 298px;
    height: 100px;
    padding: 15px;
    font-size: 16px;
    background: white;
    border-radius: 8px;
    margin: 7px 0;
    border: 1px solid black;
    resize: none;

}

form p {
    align-items: start;
    justify-content: start;
    width: 298px;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.botao {
    width: 298px;
    height: 41px;
    background-color: #3CCC87;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: .3s ease;
}

.botao:hover {
    background-color: #ffffff;
    border: 2px solid #3CCC87;
    color: #3CCC87;
}

.input-container {
    position: relative;
}

.error-message {
    color: red;
    font-size: 8px;
    position: absolute;
    left: 0;
    bottom: -2px; /* Ajuste para posicionar abaixo do input */
    display: none;
}

.input-box.error, textarea.error {
    border-color: red;
}
